@page "/crear-incidente"

@using ProyectoEstanzuelaZacapa.Shared

<h1>Crear Incidente</h1>

<div>
    <!-- Usar el componente de formulario reutilizable -->
    <CreateIncidentForm />
</div>

@code {
    // Aquí puedes agregar lógica adicional si es necesario.

    // Por ejemplo, definir métodos para manejar eventos,
    // o definir parámetros para pasar al componente.
}
